setuptools>=80.9.0
lxml==6.0.2
biopython==1.86
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
fragpipe-speclib==0.1.56
fonttools==4.61.0
joblib==1.5.2
kaleido==0.2.1
kiwisolver==1.4.7
llvmlite==0.45.1
matplotlib==3.10.7
narwhals==2.13.0
numba==0.62.1
numpy==1.26.4
packaging==25.0
pandas==2.3.3
patsy==1.0.2
pillow==12.0.0
plotly==6.5.0
pyarrow==22.0.0
pyopenms==3.4.0
pyparsing==3.2.5
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
six==1.17.0
statsmodels==0.14.6
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
