
histo_bindivs = 5000
histo_smoothbins = 2
histo_normalizeTo = psms

peakpicking_promRatio = 0.3
peakpicking_mass_units = 0
peakpicking_width = 0.002
peakpicking_topN = 500
peakpicking_minPsm = 10

precursor_mass_units = 0
precursor_tol = 0.01

annotation_tol = 0.01 
varmod_masses =

mass_offsets =
isotope_states =

localization_background = 4
localization_allowed_res = all
spectra_ppmtol = 20.0

compare_betweenRuns = false

output_extended = false

annotation_file = unimod

iontype_a = 0
iontype_x = 0
iontype_b = 1
iontype_y = 1
iontype_c = 0
iontype_z = 0
spectra_maxfragcharge = 2

run_glyco_mode = false
cap_y_ions =
diag_ions =
remainder_masses =
assign_glycans = false
