
histo_bindivs = 5000
histo_smoothbins = 2
histo_normalizeTo = psms

peakpicking_promRatio = 0.3
peakpicking_mass_units = 1
peakpicking_width = 3.0
peakpicking_topN = 500
peakpicking_minPsm = 10

precursor_mass_units = 1
precursor_tol = 8.0

annotation_tol = 0.01 
varmod_masses =

mass_offsets = 0
isotope_states = 0/1/2

localization_background = 4
localization_allowed_res = all
spectra_ppmtol = 20.0

compare_betweenRuns = false

output_extended = false

annotation_file = glyco

iontype_a = 0
iontype_x = 0
iontype_b = 1
iontype_y = 1
iontype_c = 0
iontype_z = 0
spectra_maxfragcharge = 2

run_glyco_mode = true
cap_y_ions = 0,203.07937,406.15874,568.21156,730.26438,892.3172,349.137279
diag_ions = 204.086646,186.076086,168.065526,366.139466,144.0656,138.055,512.197375,292.1026925,274.0921325,657.2349,243.026426,405.079246,485.045576,308.09761
remainder_masses = 203.07937

assign_glycans = true
glyco_fdr = 0.01
glyco_ppm_tol = 50
glyco_isotope_min = -1
glyco_isotope_max = 3

glyco_adducts =
max_adducts = 0
put_glycans_to_assigned_mods = true
n_glyco = true
remove_glycan_delta_mass = false
print_decoys = false
prob_neuacOx = 2,0.05,0.2
prob_neugcOx = 2,0.05,0.2
prob_sulfoOx = 2,0.05,0.2
prob_phosphoOx = 2,0.05,0.2
prob_dhexOx = 2,0.5,0.1
prob_regY = 5,0.5
prob_dhexY = 2,0.5
prob_mass = 1.0
norm_Ys = true
decoy_type = 1
glyco_abs_score_base = 5.0
print_full_glyco_params = false